<table>
 <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <th>Requisitos</th>
    <th>Gerência de Configuração</th>
    <th>Relatório</th>
 </tr>
 <tr *ngFor="let a of alunos" name="metaslist">
    <td name="nomelist">{{a.nome}}</td>
    <td name="cpflist">{{a.cpf}}</td>
    <td name="emaillist">{{a.email}}</td>
    <td class="meta"><input [(ngModel)]="a.metas['requisitos']" (change)="atualizarAluno(a)" name="requisitosBox"></td>
    <td class="meta"><input [(ngModel)]="a.metas['gerDeConfiguracao']" (change)="atualizarAluno(a)" name="gerDeConfiguracaoBox"></td>
    <td><button (click)="enviarRelatorio(a)" [disabled]="!a.metas['requisitos'] || !a.metas['gerDeConfiguracao']">Enviar</button></td>
    <td>{{this.message}}</td>
 </tr>
 </table>
