<table (mousemove)="onMove()">
 <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <th>Requisitos</th>
    <th>Gerência de Configuração</th>
    <th>Relatório</th>
 </tr>
 <tr *ngFor="let a of alunos">
    <td>{{a.nome}}</td>
    <td>{{a.cpf}}</td>
    <td>{{a.email}}</td>
    <td class="meta"><input [(ngModel)]="a.metas['requisitos']" (change)="atualizarAluno(a)"></td>
    <td class="meta"><input [(ngModel)]="a.metas['gerDeConfiguracao']" (change)="atualizarAluno(a)"></td>
   <td><button (click)="enviarRelatorio(a)" [disabled]="!a.metas['requisitos'] || !a.metas['gerDeConfiguracao']">Enviar</button></td>
    <td>{{this.message}}</td>
 </tr>
 </table>
